.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  height: 400px;
  border: 1px solid red;
}

header {
  height: 100px;
  border: 1px solid blue;
}

footer {
  height: 150px;
  border: 1px solid green;
}

.NavBar,
p,
aside {
  border: 1px solid black;
}
